[Desktop Entry]
Name=Birthday List
Name[sk]=Zoznam sviatkov
Comment=List of upcoming birthdays, anniversaries and name days
Comment[sk]=Zoznam nadchádzajúcich narodenín, menín a výročí
Icon=bl_cookie
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_birthdaylist
X-KDE-PluginInfo-Author=Karol Slanina
X-KDE-PluginInfo-Email=karol.slanina@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_birthdaylist
X-KDE-PluginInfo-Version=0.5.0
X-KDE-PluginInfo-Website=http://www.kde-look.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-PlasmoidCategory=Date and Time
