[Desktop Entry]
Name=BirthdayList Engine
Comment=An engine providing information about birthdays, anniversaries and namedays
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_birthdaylist
X-Plasma-EngineName=birthdaylist
X-KDE-PluginInfo-Author=Karol Slanina
X-KDE-PluginInfo-Email=karol.slanina@gmail.com
X-KDE-PluginInfo-Name=birthdaylist
X-KDE-PluginInfo-Version=0.6.3
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php?content=121134
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-PlasmoidCategory=Date and Time
